.input-text{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select{
    @extend .input-text;
}

.textarea{
    @extend .input-text;
    height: 10rem;
}